/* @media screen and (min-width: 1024px) {
    .competitions__bg{
        min-height: 50vh;
        background-image: url("https://media.istockphoto.com/photos/clear-blue-sky-background-picture-id508544168?b=1&k=20&m=508544168&s=170667a&w=0&h=WOYrVNi63gep7VdTc3mc9mbYCWoJ9_hraSqnAf5-9TU=");
        height: 100%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .competitions__bg.dark-theme{
        min-height: 50vh;
        background-image: url("https://ak.picdn.net/shutterstock/videos/33651028/thumb/1.jpg");
        height: 100%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    } 
} */

.soon{
    text-align: center;
    min-height: 30vh;
}